body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.body,
html {
  scroll-behavior: smooth;
}

header {
  padding-top: 10px;
}
.container {
  background-color: rgb(233, 227, 227);
  position: relative;
  max-width: 1020px;
  margin: auto;
}

.wrapper,
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #c5b7aa;
  color: rgb(252, 249, 249);
  max-width: 940px;
  padding: 0 40px;
  margin: 10px;
}

.wrapper {
  max-height: 300px;
}

.header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60%;
  padding: 10px 30px 20px;
}
.header__left {
  height: 300px;
}

.avatar {
  max-height: 100%;
}

.contact {
  padding: 20px 40px 40px 40px;
  display: flex;
  justify-content: space-around;
  background-color: #c7c0b9;
}

.contact__person::before {
  content: "";
  position: relative;
  display: inline-block;
  top: 12px;
  left: 10px;
  transform: scale(0.7);
  background: url("/assets/images/person-icon.png") no-repeat;
  width: 33px;
  height: 33px;
}

.contact__mail::before {
  content: "";
  position: relative;
  display: inline-block;
  top: 15px;
  left: 5px;
  transform: scale(0.7);
  background: url("/assets/images/mail-icon.png") no-repeat;
  width: 33px;
  height: 33px;
}

.contact__phone::before {
  content: "";
  position: relative;
  display: inline-block;
  top: 12px;
  left: 10px;
  transform: scale(0.6);
  background: url("/assets/images/phone-icon.png") no-repeat;
  width: 33px;
  height: 33px;
}

.contact__location::before {
  content: "";
  position: relative;
  display: inline-block;
  top: 12px;
  left: 10px;
  transform: scale(0.7);
  background: url("/assets/images/location-icon.png") no-repeat;
  width: 33px;
  height: 33px;
}

a {
  text-decoration: none;
  color: rgb(252, 249, 249);
}

a:hover {
  border-bottom: 1px dashed rgb(252, 249, 249);
  color: #dbd5cf;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: lighter;
  font-style: italic;
}

h3 {
  font-size: 18px;
  font-weight: 800;
}
p {
  text-align: left;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #c5b7aa;
  max-width: 940px;
  padding: 0 40px 40px;
  margin: 10px;
}

.section__left {
  flex-basis: 55%;
  padding-right: 55px;
}

.title {
  font-size: 20px;
  color: rgb(54, 53, 53);
}

.title__italic {
  font-size: 16px;
  color: rgb(54, 53, 53);
}
.line {
  border-bottom: 2px solid#c5b7aa;
  margin-bottom: 20px;
}

.time {
  font-size: 12px;
  font-weight: lighter;
  color: black;
  display: block;
}
